.analogue {
    padding: 0;
    cursor: pointer;
    display: flex;
    gap: 1em;
    align-items: baseline;

    i.iconbis-evt_analogue {
        font-size: 0.8em;
        color: $base-color-dark;
        margin: 0;
        padding: 0;
        margin-right: -6px;
    }
    i.iconbis-evt_analogue:after {
        white-space: nowrap;
    }
    
    .analogue__text {
        border-bottom: 1px dotted $base-color-dark;
    }

    &.over  {
        .analogue__text {
            background-color: $critical-element-highlight !important;
        }
    }
    &.selected {
        i.iconbis-evt_analogue {
            font-size: 1em;
            color: $base-color-dark;
        }
        .analogue__text{
            border-bottom: 1px solid $base-color-dark;
        }        
    }
}

.analogue__text {
    display: flex;
    flex-direction: column;
    padding: 3px 0;
}

.analogue-indent {
    margin-left: 42px;
}

.analogue-lineN {
    margin-left: -67px;
    margin-right: 37px !important;
}