/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */
    
.title {
   text-align: center; 
} 

.note {
   text-align: justify;
}
stage {
   text-align: center;
 }
 .p {
   text-align: justify;
  }
.figDesc {
  display: block;
  border-left: 5px solid #b30000;
  background-color: #ffe6e6;
  padding: 5px 5px 5px 8px;
  margin-bottom: 3%;
  text-align: justify;
  font-size: 95%;
  font-style: italic;
}

span.analogue span.analogue__text span.quote {
  font-style: italic;
}

span.quote sup.iconbis-evt_quote-left,
span.quote sup.iconbis-evt_quote-right {
  display: none;
}

span.center span.castlist {
  display: grid;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
}

span.center div.castItem {
  margin-left: 0!important;
}

span.center span.p, span.center span.head {
  width: fit-content;
  max-width: 100%;
}

div[data-n] > .head {
  margin: 2em 0 0 0;
}

.term {
  background-color: coral;
}